<!DOCTYPE html>
<html>
<head>
    <title>Register - Simple Flask tutorial</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet"/>
</head>
<body>
<div class="panel">
    <form role="form" method="post">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">Username:</div>
                <input name="username" type="text" class="form-control" value=""/>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">Password:</div>
                <input name="password" type="password" class="form-control" value=""/>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Register me!!"/>
        </div>
    </form>
</div>
</body>
</html>
